<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lzy.okhttpdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".GApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".okhttpgo.MethodActivity"/>
        <activity android:name=".okhttpgo.JsonRequestActivity"/>
        <activity android:name=".okhttpgo.BitmapRequestActivity"/>
        <activity android:name=".okhttpgo.PostTextActivity"/>
        <activity android:name=".okhttpgo.FormUploadActivity"/>
        <activity android:name=".okhttpgo.FileDownloadActivity"/>
        <activity android:name=".okhttpgo.CacheActivity"/>
        <activity android:name=".okhttpgo.HttpsActivity"/>
        <activity android:name=".okhttpgo.SyncActivity"/>
        <activity android:name=".okhttpgo.RedirectActivity"/>
        <activity android:name=".okhttpgo.TestActivity"/>
        <activity
            android:name=".cache.CacheDemoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".WebActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".okhttpgo.OkHttpActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".okhttpserver.DownloadManagerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".okhttpserver.DesActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".okhttpserver.DownloadActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".okhttpserver.UploadActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>